section.hero-section.set-bg img {
    margin-bottom: 0;
}

img,
ul {
    margin-bottom: 0 !important;
}

ul {
    margin-left: 0px !important;
}

nav.mainmenu.mobile-menu ul li {
    margin-bottom: 0px;
}